body{
    background-image: url("https://vscode.dev/github/VasechkinNikita/Mysite/blob/style-work/pic/blue-gradient-pastle-soft-beautiful-abstract-background-you-can-use-this-background-for-your-content-like-as-technology-video-gaming-promotion-card-banner-sports-presentation-website-etc-vector.jpg");
}
header{
    background-color: red;
}
main{
    background-color: blue;
}